body{
    text-align: center;
}
button{
    height: 70px;
    width: 100px;
    font-size: 20px;
    background-color: wheat;
    margin: 10px;
    border-radius: 10px;
}
button:active{
    background-color: aqua;
}
p{
    font-size: 20px;
}