body{
    background-color: wheat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    width: 500px;
    height: 300px;
    border: solid;
    position: relative;
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    
    button{
        background-color: transparent;
        border: none;
        color: red;
        font-size: 20px;
        font-weight: 900;
    }
    button:hover{
        color: black;
        background-color: rgba(0, 0, 0, 0.295);
    }
    button:focus{
        border: none;
        outline: none;
    }
}
.left{
    position: absolute;
    top: 45%;
}
.right{
    position: absolute;
    top: 45%;
    left: 94%;
}